.mot-btn{
    position: relative;
}

.close{
    position: absolute;
    top: 7px;
}

.puls {
    font-weight: 200;
    font-size: 12px;
    border: 0;
    height: auto;
    padding: 4px;
    position: relative;
    left: 50%;
    translate: -50%  ;
    background-color: #AA1010;
    width: 100%;
    border-radius: 5px;
}

.puls1 {
    font-weight: 200;
    font-size: 12px;
    color:black;
    border: 10;
    border-color: black;
    height: auto;
    padding: 4px;
    position: relative;
    left: 50%;
    translate: -50%  ;
    background-color: #ffffff;
    width: 100%;
    border-radius: 5px;
}

.shopList {
    position:relative;
}