.last-btn{
    font-weight: bold;
    right: 12px;
}

.nav-link{
    position: relative;
    top: 1px;
    padding: 0;
    margin-right: 15px;
    color: white;
}

.nav-link:hover{
    background: none;
    color: black;
}