.nav{
    height: 57px;
    background-color: #A60F0F;
}

.nav li{
    position: relative;
    top: 10px;
}

.navbar-brand{
    height: 57px;
    background-color: #A60F0F;
}

.image{
    position: relative;
    top: 14px;
    height: 30px;
}

.last-btn{
    font-weight: bold;
    right: 12px;
}

.dropdown a{
    padding-left: 30px;
    padding-right: 30px;
}

/* ng template */

.mat-dialog-container {
    padding: 240px !important;
}

.noUnderline {
    text-decoration: none;
}

.spaceText {
letter-spacing:1px;
line-height: 0px;
}

.imgProfilo {
    position: relative;
    scale: 0.4;
    max-height: 25px;
    right: -1%;
}

.shop{
    position: relative;
    right: -3%;
}