.col{
    padding: 0;
}

.card{
    border-radius: 8px;
    width: 172px;
}

.card-img-top{
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    height: 112px;
}

.card-body{
    height: 150px;
}

.btn-group{
    position: relative;
    top: 24px;
    left: 14%;
    margin-right: 9px;
    background-color: white;
}

.price{
    position: relative;
    bottom: -14%;
    font-size: 13px;
    font-weight: bolder;
}

.bottone{
    font-weight: 400;
    font-size: 11px;
    border: 0;
    height: 34px;
    padding: 10px;
    position: absolute;
    left: 50%;
    translate: -50%;
    bottom: 10px;
    background-color: #AA1010;
    width: 90%;
}

.principalPic {
    width: 100%;
    height:100%;
    object-fit: cover;
    align-self: center;
}