.btn{
    border: 1;
    border-color: rgb(180, 180, 180);
    border-radius: 4px;
    color: #b0b0b0;
    font-size: 12px;
}

.forma{
    padding-right: 2%;
}

form {
    border-radius: 4px;
    display:flex;
    flex-direction:row;
    border:1px solid rgb(180, 180, 180);
    padding:1px;
  }
  
  input {
    flex-grow:2;
    border:none;
  }
  
  input:focus {
    outline: none;
  }
  
  form:focus-within { 
    outline:1px solid rgb(180, 180, 180);
  }
  
  .btn-outline-success {
    border:none;
  }
  
  .btn-group{
    align-items: start;
    margin-right: 7px;
  }
  
  .left-text{
    float: left;
  }

  .right-arrow{
    justify-content: end;
    float: right;
  }

  .input-group{
    position: relative;
  }

  .input{
    padding: 10px;
    width: 100%;
    max-width: 300px;
    outline: none;
  }

  .placeholder{
    opacity: 1;
    color: #b0b0b0;
    background-color: white;
    position: absolute;
    top: 12px;
    left: 8px;
    font-size: 11px;
    padding: 0px 4px;
    transition: 0.3s;
    pointer-events: none;
    font-weight: 400;
  }

  .input:focus + .placeholder{
    border-radius: 10px;
    top: -12px;
    color: #b0b0b0;
  }

  .lens{
    background-color: white;
    font-size: medium;
    border: 0;
    color: black;
  }

  .grande:hover{
    color: #b0b0b0;
    border: 0;
    scale: 1.8;
  }

