.divsquare {

    background-color: rgb(242, 242, 242);
    width: 300px;
    height: 300px;
    border-radius: 3%;
    border-width: 2px;
    border-color: rgb(133, 133, 133);
    border-style: dashed ;
}

.labelcss {
    color: rgb(133, 133, 133);
    position: relative;
    top:23% ;
    left:5% ;
    background-color: white;
}

.buttonposition {
    position: relative;
    left: 42%;
    bottom: -25%;
}

.divsquarelittle {
    background-color: rgb(234, 234, 234);
    width: 50px;
    height: 50px;
    border-radius: 15%;
    border-width: 2px;
    align-self: center;
    display: grid;
}

.divrectangle {
    background-color: rgb(246, 246, 246);
    width: 100%;
    height: 70px;
    border-radius: 15px;
    display: grid;
}

.imageimg {
    align-self: center;
    text-align: center;
}

.pimg {
    z-index: 0; 
    font-size: 10px; 
    color: white; 
    position: relative; 
    top: -85%;
  }

.inputimg {
    z-index: 1;
    opacity: 0; 
    width: 300px; 
    height: 30px; 
    position: relative;
}

.bottoneSubmit {
    position: relative;
    left: -25%;
}

.imgInputForm{
    background-size: cover;
    background-position: center;
    position: relative; 
    z-index: 1; 
    height: 290px; 
    width: 290px;
}