<div class="row ps-5">
    <div class="col-4 side-pics-b mt-5 mb-5">
        <div class="row side-pics-h">
            <img [src]="fotoUrl" style="height: 126px;" class="img-thumbnail mb-2 p-0 rounded-4 principalPic" alt="...">
            <img [src]="fotoUrl" style="height: 126px;" class="img-thumbnail mb-2 p-0 rounded-4 principalPic" alt="...">
            <img [src]="fotoUrl" style="height: 126px;" class="img-thumbnail mb-2 p-0 rounded-4 principalPic" alt="...">
            <img [src]="fotoUrl" style="height: 126px;" class="img-thumbnail p-0 rounded-4 principalPic" alt="...">
        </div>

            <!--  media="(min-width: 721px) and (max-width: 1023px) and (-webkit-min-device-pixel-ratio: 1.01),"-->
    </div>

    <div class="col-8 ms-2 mt-5 mb-5">
        <div class="principalPic">
            <img [src]="fotoUrl" class="col p-0 rounded-4 principalPic" alt="...">
        </div>
    </div>
</div>