.cent-page{
    position: relative;
    top: 13vh;
}

.cosa{
    background-color: white;
}

.side-pics-h{
    height: 100%;
}

.side-pics-b{
    max-width: 130px;
}

.signs{
    color: black;
    font-weight: 490;
}

.signs span{
    padding-top: 2px;
    font-size: 14px;
    padding-left: 5px;
    padding-right: 5px;
}

.signs a i{
    font-weight: bolder;
    font-size: 19px;
    text-decoration: none;
}

.signs a:hover{
    cursor: pointer;
    scale: 1.4;
}

.principalPic {
    width: 100%;
    height:100%;
    object-fit: cover;
    align-self: center;
}

.centerElements {
    text-align: center;
}

.activeness{
    color: rgb(193, 193, 193) !important;
}

.rel{
    position: relative;
}


/* titoli */
.tit{
    color: rgb(157, 157, 157);
    font-weight: 600;
}

.tx{
    font-size: 16px;
}

.txt-f{
    font-weight: bold;
}

/*prodotti correlati*/
.cent{
    position: relative;
    left: 34px;
    right: 1%;
}