.bottone{
    font-weight: 200;
    font-size: 12px;
    border: 0;
    height: auto;
    padding: 4px;
    position: relative;
    left: 50%;
    translate: -50%  ;
    background-color: #AA1010;
    width: 100%;
    border-radius: 10px;
}

.trash{
    position: absolute;
    right: 0;
    margin-right: 6px;
}